#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#rounded-corner thead th.rounded-tables
{
	background: #b9c9fe url('images/table-images/left.png') left -1px no-repeat;
	width: 70%;
	height: 40px;
}
#rounded-corner thead th.rounded-q1
{
	background: #b9c9fe url('images/table-images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 15px;
	color: #039;
	background: #b9c9fe;
}
#rounded-corner td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
	background: #e8edff url('images/table-images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('images/table-images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
	background: #d0dafd;
}

#bhead {
	z-index: 1;
	left: 5px;
	top: 50px;
	width: 100%; 
	height: 60px;
	background-color:#003366;
}

#menu_bar {
	text-align:left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px;
	padding: 18px;
	width: 30%;
}

#tool_icon {
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px;
	padding: 18px;
	position: relative;
	top: -90px;
	color: #fff;
	margin-left: 30%;
	margin-right: 30%;
}

a {
    outline: 0;
    text-decoration: none;
    margin: 20px;
    color: #fff;
}

a:hover {
    color: #CD3700;
}

#top_text {
	margin-left: 50px;
	margin-bottom: -15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px;
	color: #003366;
}

#lightbox {
 display:none;
 /*
 background:#000000;
 opacity:0.9;
 filter:alpha(opacity=90);
 */
 position:absolute;
 top:0px;
 left:0px;
 min-width:100%;
 min-height:100%;
 z-index:2;
}

#lightbox-panel {
 display:none;
 position:absolute;
 top:30%;
 left:70%;
 margin-left:-200px;
 width:400px;
 background:#FFFFFF;
 padding:10px 15px 10px 15px;
 border:2px solid #CCCCCC;
 z-index:3;
}


